{% extends template.self %}

{% block faq_header_brand %}
<img src="/_assets/Staminity-help.png" height="40" />
{% endblock %}

{% block faq_menu %}

<ul class="nav navbar-nav navbar-left">
<li><a href="http://help.staminity.com/en">English</a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
<li><a href="https://staminity.com">Staminity</a></li>
<li><a href="https://blog.staminity.com">Блог</a></li>
</ul>

{% endblock %}

{% block body %}
    {{ super() }}
    
<!-- Start of Omnidesk Widget script -->
<script>
!function(e,o){!window.omni?window.omni=[]:'';window.omni.push(o);o.g_config={widget_id:"2576-2fkmb74e"}; o.email_widget=o.email_widget||{};var w=o.email_widget;w.readyQueue=[];o.config=function(e){ this.g_config.user=e};w.ready=function(e){this.readyQueue.push(e)};var r=e.getElementsByTagName("script")[0];c=e.createElement("script");c.type="text/javascript",c.async=!0;c.src="https://omnidesk.ru/bundles/acmesite/js/cwidget0.2.min.js";r.parentNode.insertBefore(c,r)}(document,[]);
</script>
<!-- End of Omnidesk Widget script -->

{% endblock %}

